 * {cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;}

.header {
    background-color: #F0F0F0;
    padding: 20px 0;
}
.cajaNavbar {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav a:hover{
    color: #FF8C00;
}

nav li{
    display: inline;
    margin: 0 0 0 25px;
}
.ventaProductos li:hover{
    border-color: #FF8C00;
    
}
.ventaProductos li:hover h2{
    font-size: 38px;
}
.ventaProductos li:active{
    border-color: #008C00;
}

.ventaProductos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.ventaProductos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% ;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px #555555 solid;
    border-radius: 15px;
}

.ventaProductos h2 {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.producto-descripcion{
    font-size: 18px;
    color: #777777;
}

.precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: #333333
}

footer{
    padding: 40px;
    text-align: center;
    background: url(/imgs/bg.jpg);
}
.Copyright{
    color: #777777
}