/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto !important;} /* End https://www.cursors-4u.com */

body{
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #2C3E50;
    padding: 20px 0;
}

.caja{
    width: 940px;
    margin: 0 auto; 
    position: relative;
    
}

nav{
    position: absolute;
    top:110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #3498DB;
    text-decoration: underline;
}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}


.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #2980B9;
    border-radius: 10px;
}

.productos li:hover{
    border-color:#3498DB;
}

.productos li:active{
    border-color:#1F618D;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font-size: 18px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top:10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding:40px;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}

form{
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    color: #2C3E50
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    background-color: #ECF0F1
}

.checkbox{
    margin:20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:white;
    background: orange;
    border:none;
    border-radius: 5px;
    transition: 1s all;
    cursor:pointer;
}

.enviar:hover{
    background: #2980B9;
    transform: scale(1.2);
}


/*Aquí inicia el CSS para nuestra home*/
.banner{
    width: 100%;
}

.principal{
    padding: 3em 0;
    background: #ECF0F1;
    width: 940px;
    margin: 0 auto; 
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear:left;
    color: #2C3E50;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float:left;
    margin: 0 20px 20px 0;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#ECF0F1, #7F8C8D);
}

.mapa p{
    margin: 0 0 2em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #7F8C8D;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.items{
    line-height: 1.5;
}

.items:before{
    content:"★"
}

.items:first-child{
    font-weight: bold;
}

.imagen-diferenciales{
    width: 60%;
    transition: 400ms;
    box-shadow: 10px 10px 30px 15px #2C3E50;
}

.imagen-diferenciales:hover{
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto;
}

@media screen and (max-width: 480px) {
    /* Estilos específicos para dispositivos móviles */
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .caja,
    .principal,
    .mapa-contenido,
    .contenido-diferenciales,
    .video {
        width: auto;
    }
    .lista-diferenciales,
    .imagen-diferenciales {
        width: 100%;
    }
}

